body {
    font-family: 'Open Sans';
}

/* hero */
.hero {
    background-color: transparent !important;
    position: relative;
}

#heading {
    color: white;
}

#interest-text {
    color: white;
    margin-top: 1em;
}

/* utility classes */
.vertically-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nowrap {
    white-space: nowrap;
}


.underlined {
    border-bottom: white solid 1px;
}

.hidden {
    display: none;
}

.debug {
    border: 1px magenta solid !important;
}

.asana {
    color: rgb(255, 100, 110);
}

.tabs li a {
    color: white;
}

.tabs li.is-active a {
    color: var(--palette-2);
}

/* animated external icon links */

.links {
    margin-top: 4em;
}

.link-item {
    display: table;
    cursor: pointer;
    margin-bottom: 0.7em;
    padding: 0.3em;
    padding-right: 0.4em;
    color: white !important;

    transition-duration: 0.7s;
}

.link-item .icon {
    vertical-align: middle;
    font-size: 1.2em;

    transition-duration: inherit;
}

.link-item .icon .fa-envelope {
    font-size: 0.9em;
}

.link-item .link-text {
    font-size: 0.9em;
    vertical-align: middle;
    margin-left: 0.17em;

    transition-duration: inherit;
}

.link-item:hover {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.4);
}

.link-item:hover .icon {
    color: white !important;
    transform: translateX(-1.5px) rotate(-10deg);
}

.link-item:hover .link-text {
    color: white !important;
}


#built-with-text {
    font-size: 0.7em;
    position: absolute;
    top: 0;
    right: 0.25em;
    color: white;
}

.column .is-centered {
    justify-content: center;
}

.message-body .heading:not(:first-of-type) {
    margin-top: 1em;
}

#pdf-button {
    position: relative;
    top: -0.16em;
}

.message-footer {
    margin-top: 1em;
    font-size: 0.7em;
}
