/* main palette */
body {
    --palette-1: #6772e5;
    --palette-2: #3ecf8e;
    --palette-3: #408af8;
    --palette-4: #FA7921;
    --palette-5: #E55934;
    --light-grey: #f6f9fc;
}

.has-text-palette-1 {
    color: var(--palette-1) !important;
}

.has-text-palette-2 {
    color: var(--palette-2) !important;
}

.has-text-palette-3 {
    color: var(--palette-3) !important;
}

.has-text-palette-4 {
    color: var(--palette-4) !important;
}

.has-text-palette-5 {
    color: var(--palette-5) !important;
}

/* hero */

.hero {
    /* why did adding position: relative fix the #skewed-background fit? */
    background-color: #141852 !important;
    position: relative;
}

#triangle-1 {
    fill: var(--palette-2);
}

#triangle-2 {
    fill: var(--palette-1);
}

#heading {
    color: white;
}

#interest-text {
    color: white;
}

/* utility classes */
.vertically-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nowrap {
    white-space: nowrap;
}


.underlined {
    border-bottom: white solid 1px;
}

.northwestern {
    color: #4e2a84;
}

.asana {
    background: -webkit-linear-gradient(#FD8D3C, #FF4D58);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(#FD8D3C, #FF4D58);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.hidden {
    display: none;
}


.debug {
    border: 1px magenta solid !important;
}

/* animated external icon links */

.links {
    margin-top: 4em;
}

.link-item {
    display: table;
    cursor: pointer;
    margin-bottom: 0.7em;
    padding: 0.3em;
    padding-right: 0.4em;
    color: white !important;

    transition-duration: 0.7s;
}

.link-item .icon {
    vertical-align: middle;
    font-size: 1.2em;

    transition-duration: inherit;
}

.link-item .icon .fa-envelope {
    font-size: 0.9em;
}

.link-item .link-text {
    font-size: 0.9em;
    vertical-align: middle;
    margin-left: 0.17em;

    transition-duration: inherit;
}

.link-item:hover {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.4);
}

.link-item:hover .icon {
    color: white !important;
    transform: translateX(-1.5px) rotate(-10deg);
}

.link-item:hover .link-text {
    color: white !important;
}

#interest-text {
    margin-top: 1em;
}


body {
    font-family: 'Open Sans';
}

.column .is-centered {
    justify-content: center;
}

.message-body .heading:not(:first-of-type) {
    margin-top: 1em;
}


.python-tag {
    background: #3572A5 !important;
}

.r-tag {
    background: #198CE7 !important;
}

.javascript-tag {
    background: #f1e05a !important;
}

.scala-tag {
    background: #c22d40 !important;
}

.haskell-tag {
    background: #5e5086 !important;
}

.rust-tag {
    background: #dea584 !important;
}

.sql-tag {
    background: #dad8d8 !important;
}

#pdf-button {
    position: relative;
    top: -0.16em;
}

.message-footer {
    margin-top: 1em;
    font-size: 0.7em;
}

/* Fade */
.hvr-fade:hover {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
