/*
Style guide: http://rscss.io/components.html
*/

* {
    --moon-color: #fff684;
}

/* mobile portrait */
@media screen and (min-width:320px) {
    body {
        font-size: 10px;
    }

    #my-name {
        padding-top: 3.5em;
        font-size: 3em;
    }
}

/* mobile landscape */
@media screen and (min-width:480px) {
    body {
        font-size: 12px;
    }
}

/* ipad portrait */
@media screen and (min-width:768px) {
    body {
        font-size: 14px;
    }
    #my-name {
        font-size: 4em;
        padding-top: 4em;
    }
}

/* browser, ipad landscape */
@media screen and (min-width:1024px) {
    body {
        font-size: 14px;
    }
}

/* browser */
@media screen and (min-width:1200px) {
    body {
        font-size: 15px;
    }
}

/* browser */
@media screen and (min-width:1600px) {
    body {
        font-size: 16px;
    }
}

body {
    min-height: 500px;
    color: white;

    font-family: "Open Sans", sans-serif;
    font-weight: 300;

    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top,
    rgb(0, 3, 160) 10%,
    rgb(5, 7, 139) 20%,
    rgb(1, 2, 44) 80%
    );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top,
    rgb(0, 3, 160) 10%,
    rgb(5, 7, 139) 20%,
    rgb(1, 2, 44) 80%
    );  /* Chrome 10-25, Safari 5.1-6 */

    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    height: 100%;
}

#my-name {
    font-weight: 300;
    letter-spacing: 0.2em;
}

.interests {
    margin-top: 1.5em;
    font-size: 1.5em;
}

#ilike-text {
    font-weight: 400;
}

.menu-icon {
    color: lightgray;
    margin-bottom: 0.25em;
}

.menu-icon:hover {
    color: white;
    cursor: pointer;
    transition: all 0.75s ease;
}

#link-menu {
    margin-top: 3em;
}

#link-menu p {
    margin-top: 0.5em;
}

footer {
    color: lightgray;
    background-color: black;
    font-size: 0.8em;
    text-align: right;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
}

/* Icon Grow */
.hvr-icon-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-icon-grow .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-icon-grow:hover .hvr-icon, .hvr-icon-grow:focus .hvr-icon, .hvr-icon-grow:active .hvr-icon {
    -webkit-transform: scale(1.3) translateZ(0);
    transform: scale(1.3) translateZ(0);
  }
