@keyframes blink {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* Use this as a performant flash animation. Duration is the "off" time, delay is the "on" time. */
@keyframes flash {
    0% { opacity: 1; }
    1% { opacity: 0; }
    99% { opacity: 0; }
    100% { opacity: 1; }
}

/* .twinkling {
    animation-name: twinkle;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
} */
.svg-star {
    will-change: opacity;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.window {
    will-change: opacity;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
