/* main palette */
/* https://www.schemecolor.com/night-sky-color-palette.php */
body {
    --palette-1: rgb(0, 3, 160);
    --palette-2: rgb(5, 7, 139);
    --palette-3: rgb(1, 2, 44);
    --palette-4: #FA7921;
    --palette-5: #E55934;
    --light-grey: #f6f9fcb6;

    --sky-gradient-1: rgb(0, 3, 160);
    --sky-gradient-2: rgb(5, 7, 139);
    --sky-gradient-3: rgb(1, 2, 44);

    --moon: yellow;

}

.has-text-palette-1 {
    color: var(--palette-1) !important;
}

.has-text-palette-2 {
    color: var(--palette-2) !important;
}

.has-text-palette-3 {
    color: var(--palette-3) !important;
}

.has-text-palette-4 {
    color: var(--palette-4) !important;
}

.has-text-palette-5 {
    color: var(--palette-5) !important;
}

.has-text-light-grey {
    color: var(--light-grey) !important;
}

/* Fade */
.hvr-fade:hover {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
